#kv{
	overflow:hidden;
	@include Item(1600, 795, 0, 0, 0 , 0, 1600, 'fit', 'relative');
	padding-top: 100vh;
	.kv{
		@include Item(1600, 795, 0, 0, 0 , 0, 1600, 'fit', 'absolute');
		background-size: cover;
		transform: scale(1.4);
		background-position: right bottom;
		background-repeat: no-repeat;
		opacity: 0.1;
		// margin-top: 71px;
		padding-top: 100vh;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(640, 920, 83, 0, 0, 0, 640,'fit','absolute');
			padding-top: calc(100vh - 25% });
			background-position: right bottom;
			// background-size: 100% auto;
		}
	}
	.kv-text-1{
		@include Item(784, 102, 210, 0, 0 , 112, 1600, 'fit', 'absolute');
		// top: per(170, 795);

		background-size: 100% auto;
		text-indent: -9999em;
		opacity: 0.1;
		background-repeat: no-repeat;
		@media screen and (max-width: #{$screen-xs - 1}) {
			// @include Item(362, 46, 123, 0, 0, 129, 640,'fit','absolute');
			@include Item(362, 46, 200, 0, 0, 129, 640,'fit','absolute');
		}
	}
	.kv-text-2{
		@include Item(663, 70, 352, 0, 0 , 112, 1600, 'fit', 'absolute');
		background-size: 100% auto;
		text-indent: -9999em;
		opacity: 0.1;
		background-repeat: no-repeat;
		@media screen and (max-width: #{$screen-xs - 1}) {
			// @include Item(362, 38, 195, 0, 0, 129, 640,'fit','absolute');
			@include Item(362, 38, 270, 0, 0, 129, 640,'fit','absolute');
		}
	}
	.scroll{
		@include Item(17, 41, 'auto', 0, 24 , 682, 1336, 'fit', 'fixed');
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0;
		@include animation(
			slideInDown 1.2s infinite 0s
		);
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(62, 34, 'auto', 0, 180 , 293, 640,'fit','fixed');
		}
	}
	&.on{
		.kv{
			// background-size: 100% auto;
			opacity: 1;
			transition: 1s ease-out 0s;
			transform: none;
		}
		.kv-text-1{
			@include animation(
				fadeIn 0.9s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
		.kv-text-2{
			
			@include animation(
				fadeInUp 0.5s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
		.scroll{
			opacity: 1;
			transition: 1s ease-out 1s;
		}
	}
}

.section{
	overflow: hidden;
	.overlay{
		@include SubItem();
		background-size: cover;
		background-position: center;
		opacity: 0.8;
		top: 0;
		z-index: 2;
	}

	&.on{
		.overlay{
			top: 60%;
			opacity: 0;
			transition: 2s ease-out 0s;
		}
	}
}

#section1{
	@include Item(1336, 670, 0, 0, 0 , 0, 1336, 'fit', 'relative');
	@media screen and (max-width: #{$screen-xs - 1}) {
		@include Item(640, 838, 0, 0, 0, 0, 640,'fit','relative');
	}
	.section-1{
		@include Item(1336, 670, 0, 0, 0 , 0, 1336, 'fit', 'absolute');
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(640, 838, 0, 0, 0, 0, 640,'fit','absolute');
		}
		background-size: 110% auto;
		background-position: center;
		opacity: 0.1;
		top: -5%;
		transform: scale(1.05);
		transform-origin: right center 1px; 
	}
	.title{
		opacity: 0.1;
		@include Item(538, 30, 190, 0, 0 , 71, 1336, 'fit', 'absolute');
		background-size: 100% auto;
		text-indent: -9999em;
		background-repeat: no-repeat;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(402, 209, 50, 0, 0, 107, 640,'fit','absolute');
		}
	}
	.shadow{
		opacity: 0.1;
		@include Item(1336, 241, 0, 0, 0 , 0, 1336, 'fit', 'absolute');
		background-size: 100% auto;
	}
	.text{
		opacity: 0.1;
		@include Item(373, 96, 250, 0, 0 , 71, 1336, 'fit', 'absolute');
		white-space: nowrap;
		font-weight: 100;
		letter-spacing: 0.2em;
		line-height: 2;
		text-shadow: 0 0 5px #000;
		span{
			@include SubItem();
		}
	}
	&.on{
		.section-1{
			background-size: 100% auto;
			top: 0;
			opacity: 1;
			transform: none; 
			transition: 1s ease-out 0s;
		}
		.shadow{
			@include animation(
				fadeInDown 0.9s 1 linear forwards 0s
			);
		}
		.title{
			@include animation(
				fadeIn 0.9s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
		.text{
			line-height: 1.4;
			transition: 1.2s ease-out 0s;
			text-shadow: none;
			@include animation(
				fadeInUp 0.5s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
	}
}

#section2{
	@include Item(1336, 668, 0, 0, 0 , 0, 1336, 'fit', 'relative');
	@media screen and (max-width: #{$screen-xs - 1}) {
		@include Item(640, 841, 0, 0, 0, 0, 640,'fit','relative');
	}
	.section-2{
		@include Item(1336, 668, 0, 0, 0 , 0, 1336, 'fit', 'absolute');
		background-size: 100% auto;
		background-position: center;
		opacity: 0.1;
		top: 5%;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(640, 841, 0, 0, 0, 0, 640,'fit','absolute');
		}
	}
	.shadow{
		@include Item(1336, 241, 0, 0, 0 , 0, 1336, 'fit', 'absolute');
		background-size: 100% auto;
		opacity: 0.1;
		z-index: 3;
	}
	.title{
		@include Item(420, 30, 151, 76, 0 , 'auto', 1336, 'fit', 'absolute');
		background-size: 100% auto;
		background-repeat: no-repeat;
		white-space: nowrap;
		font-weight: 100;
		letter-spacing: 0.25em;
		opacity: 0.1;
		z-index: 3;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(387, 210, 60, 0, 0, 107, 640,'fit','absolute');
		}
		span{
			@include SubItem();
		}
	}
	.text{
		@include Item(400, 108, 216, 77, 0 , 'auto', 1336, 'fit', 'absolute');
		background-size: 100% auto;
		white-space: nowrap;
		font-weight: 100;
		letter-spacing: 0.2em;
		opacity: 0.1;
		z-index: 3;
		line-height: 2;
		span{
			@include SubItem();
		}
	}
	&.on{
		.section-2{
			background-size: 100% auto;
			top: 0;
			opacity: 1;
			transition: 1s ease-out 0s;
		}
		.shadow{
			@include animation(
				fadeInDown 0.9s 1 linear forwards 0s
			);
		}
		.title{
			@include animation(
				fadeIn 0.9s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
		.text{
			
			line-height: 1.4;
			transition: 1.2s ease-out 0s;
			@include animation(
				fadeInUp 0.5s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
	}
}

#section3{
	@include Item(1336, 671, 0, 0, 0 , 0, 1336, 'fit', 'relative');
	@media screen and (max-width: #{$screen-xs - 1}) {
		@include Item(640, 920, 0, 0, 0, 0, 640,'fit','relative');
	}
	.section-3{
		@include Item(1336, 671, 0, 0, 0 , 0, 1336, 'fit', 'absolute');
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.1;
		top: -5%;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(640, 920, 0, 0, 0, 0, 640,'fit','absolute');
		}
	}
	.shadow{
		@include Item(1336, 241, 0, 0, 0 , 0, 1336, 'fit', 'absolute');
		background-size: 100% auto;
		opacity: 0.1;
	}
	.title{
		@include Item(312, 29, 379, 0, 0 , 71, 1336, 'fit', 'absolute');
		background-size: 100% auto;
		text-indent: -9999em;
		opacity: 0.1;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(286, 207, 136, 0, 0, 107, 640,'fit','absolute');
		}
	}
	.text{
		@include Item(247, 95, 439, 0, 0 , 71, 1336, 'fit', 'absolute');
		background-size: 100% auto;
		white-space: nowrap;
		font-weight: 100;
		letter-spacing: 0.2em;
		opacity: 0.1;
		line-height: 2;
		span{
			@include SubItem();
		}
	}
	&.on{
		.section-3{
			background-size: 100% auto;
			top: 0;
			opacity: 1;
			transition: 1s ease-out 0s;
		}
		.shadow{
			@include animation(
				fadeInDown 0.9s 1 linear forwards 0s
			);
		}
		.title{
			@include animation(
				fadeIn 0.9s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
		.text{
			line-height: 1.4;
			transition: 1.2s ease-out 0s;
			@include animation(
				fadeInUp 0.5s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
	}
}

#section4{
	@include Item(1336, 684, 0, 0, 0 , 0, 1336, 'fit', 'relative');
	overflow: hidden;
	@media screen and (max-width: #{$screen-xs - 1}) {
		@include Item(640, 920, 0, 0, 0, 0, 640,'fit','relative');
	}
	.section-4{
		@include Item(1336, 684, 0, 0, 0 , 0, 1336, 'fit', 'absolute');
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.1;
		top: 5%;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(640, 920, 0, 0, 0, 0, 640,'fit','absolute');
		}
	}
	.shadow{
		@include Item(1336, 241, 0, 0, 0 , 0, 1336, 'fit', 'absolute');
		background-size: 100% auto;
		opacity: 0.1;
		z-index: 3;
	}
	.title{
		@include Item(420, 30, 404, 76, 0 , 'auto', 1336, 'fit', 'absolute');
		background-size: 100% auto;
		white-space: nowrap;
		font-weight: 100;
		letter-spacing: 0.25em;
		opacity: 0.1;
		z-index: 3;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(332, 205, 136, 0, 0, 107, 640,'fit','absolute');
		}
		span{
			@include SubItem();
		}
	}
	.text{
		@include Item(400, 108, 474, 77, 0 , 'auto', 1336, 'fit', 'absolute');
		background-size: 100% auto;
		white-space: nowrap;
		font-weight: 100;
		letter-spacing: 0.2em;
		opacity: 0.1;
		z-index: 3;
		line-height: 2;
		span{
			@include SubItem();
		}
	}
	&.on{
		.section-4{
			background-size: 100% auto;
			top: 0;
			opacity: 1;
			transition: 1s ease-out 0s;
		}
		.shadow{
			@include animation(
				fadeInDown 0.9s 1 linear forwards 0s
			);
		}
		.title{
			@include animation(
				fadeIn 0.9s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
		.text{
			line-height: 1.4;
			transition: 1.2s ease-out 0s;
			@include animation(
				fadeInUp 0.5s 1 linear forwards 0.15s
			);
			@media screen and (max-width: #{$screen-xs - 1}) {
			}
		}
	}
}

#section5{
	@include Item(1336, 670, 0, 0, 0 , 0, 1336, 'fit', 'relative');
	// padding-top: calc(100vh - 71px);
	@media screen and (max-width: #{$screen-xs - 1}) {
		@include Item(640, 700, 0, 0, 0, 0, 640,'fit','relative');
	}
	.pureboost{
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0;
		@include Item(310, 40, 30, 0, 0 , 92, 1336, 'fit', 'absolute');

		@media screen and (max-width: #{$screen-xs - 1}) {
			opacity: 0.1;
			@include Item(254, 33, 62, 0, 0, 191, 640,'fit','absolute');
		}
	}
	.carousel{
		opacity: 0.1;
		@include SubItem();
		.slick-list{
			@include SubItem();
		}
		.slick-track{
			height: 100%;
		}
		.slide{
			@include SubItem();
		}
		.slide-image{
			@include Item(822, 456, 94, 0, 0 , 186, 1336, 'fit', 'absolute');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(640, 391, 152, 0, 0, 0, 640,'fit','absolute');

			}
			figure{
				width: vwlg(822,1336)!important;
				@media screen and (max-width: #{$screen-xs - 1}) {
					width: 100vw!important;

				}
				background: center/cover;
			}
		}
		.slide-thumb{
			@include Item(70, 560, 67, 76, 0 , 'auto', 1336, 'fit', 'absolute');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(640, 60, 543, 0, 0, 0, 640,'fit','absolute');
				.slick-list{
					@include SubItem();
				}
			}
			.slick-track{
				width: 100%;
				height: 100%!important;
				@media screen and (max-width: #{$screen-xs - 1}) {
					width: 100%!important;
					text-align: center;
					a{
						display: inline-block;
						position: relative;
						float: none;
						&+a{
							margin-left: 0.2em;
						}
					}
				}
			}
			aside{
				@include SubItem();
				a{
					@include Item(70, 70, 'auto', 'auto', 'auto' , 'auto', 70, 'fit', 'relative');
					@media screen and (max-width: #{$screen-xs - 1}) {
						@include Item(60, 60, 'auto', 'auto', 'auto' , 'auto', 640,'fit','relative');
					}
					figure{
						background: center/cover;
						transition-duration: 0.25s;
						opacity: 0.75;
						@include SubItem();
					}
					&.slick-current{
						img{
							opacity: 1;
							transform: none;
						}
					}
				}
			}
		}

		button.slick-prev{
			background: rgba(0,0,0,0) url(../img/prev.png) center/ cover no-repeat;
			border: 0;
			text-indent: -999em;
			@include Item(22, 132, 253, 0, 0 , 100, 1336, 'fit', 'absolute');
			transform: scale(1.1) translateX(-300%);
			opacity: 0.1;
			@media screen and (max-width: #{$screen-xs - 1}) {
				background-image: url(../img/prev@640.png);
				background-position: left center;
				background-size: 12.5%;
				@include Item(100, 320, 233, 0, 0, 25, 640,'fit','absolute');
			}
		}
		button.slick-next{
			background: rgba(0,0,0,0) url(../img/next.png) center/ cover no-repeat;
			border: 0;			
			text-indent: -999em;
			@include Item(22, 132, 253, 235, 0 , 'auto', 1336, 'fit', 'absolute');
			transform: scale(1.1) translateX(300%);
			opacity: 0.1;
			@media screen and (max-width: #{$screen-xs - 1}) {
				background-image: url(../img/next@640.png);
				background-position: right center;
				background-size: 12.5%;
				@include Item(100, 320, 233, 27, 0, 'auto', 640,'fit','absolute');
			}
		}
	}
	.colors{
		opacity: 0.1;
		@include Item(371, 36, 605, 0, 0 , 423, 1336, 'fit', 'absolute');
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(640, 100, 638, 0, 0, 0, 640,'fit','absolute');
		}
		.slick-list{
			@include SubItem();
		}
		.slick-track{
			height: 100%;
			@media screen and (max-width: #{$screen-xs - 1}) {
				width: 100%!important;
				text-align: center;
				a{
					display: inline-block;
					position: relative;
					float: none;
					&+a{
						margin-left: per(20, 640);
					}
				}
			}
		}
		aside{
			@include SubItem();
		}
		a{
			@include Item(90, 13, 'auto', 'auto', 'auto' , 'auto', 371, 'fit', 'relative');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(70, 50, 'auto', 'auto', 'auto' , 'auto', 640,'fit','relative');
				width: per(70, 640) !important;
				margin-top: per(20, 640);
				display: inline-block;
			}
			img{
				transition-duration: 0.25s;
				transform: scale(0.5);
				opacity: 0.75;
				@include SubImgW();
				@media screen and (max-width: #{$screen-xs - 1}) {
					display: inline-block;
					transform: none;
				}
			}
			&.slick-current{
				@media screen and (max-width: #{$screen-xs - 1}) {
					width: per(100, 640) !important;
				}
				img{
					margin-top: per(-7, 90);
					opacity: 1;
					transform: none;
				}
			}
		}
	}
	&.on{
		.pureboost{
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include animation(
					fadeIn 0.9s 1 linear forwards 0.15s
				);
			}
		}
		button.slick-prev, button.slick-next{
			transition: 1.5s ease-out 0s;
			transform: none;
			opacity: 1;
		}
		.carousel{
			@include animation(
				fadeIn 0.9s 1 linear forwards 0s
			);
		}
		.colors{
			@include animation(
				fadeIn 0.9s 1 linear forwards 0s
			);
		}
	}
}
.ios-container{
	@media screen and (max-width: #{$screen-xs - 1}) {
		padding-bottom: per(140, 640);
	}
}

.slick-slide, .slick-arrow{
	outline: none;
}

@include keyframes( fadeInUp )
{
	from {
		opacity: 0.1;
		transform: translate3d(0, 30%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@include keyframes( fadeInDown )
{
	from {
		opacity: 0.1;
		transform: translate3d(0, -30%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@include keyframes( fadeIn )
{
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}
@include keyframes ( slideInDown ){
	0% {
		transform: translate3d(0, -35%, 0);
		visibility: visible;
	}

	40% {
		transform: translate3d(0, 0, 0);
	}

	60% {
		transform: translate3d(0, 0, 0);
	}

	100%{
		transform: translate3d(0, -35%, 0);
		visibility: visible;
	}
}